*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-image: url("bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}
.d-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
main{
    padding: 30px 50px;
}
.text-con, .form-con{
    width: 40%;
    padding: 0 10px;
}
.text-con{
    color: hsl(0, 0%, 95%);
}
.text-con h1{
    font-size: 37px;
    margin-bottom: 20px;
    line-height: 1.1;
}
.text-con p{
    font-size: 14px;
}
.font-p{
    font-family: Poppins;
}
.font-p300{
    font-weight: 300;
}
.font-p400{
    font-weight: 400;
}
.font-p500{
    font-weight: 500;
}
.font-p600{
    font-weight: 600;
}
.font-p700{
    font-weight: 700;
}
.form-head{
    background-color: hsl(248, 32%, 49%);
    padding: 15px;
    text-align: center;
    color: hsl(0, 0%, 95%);
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 5px hsla(248, 32%, 49%, 0.74);
}
.form-head p{
    font-size: 13px;
}
form{
    padding: 30px 30px 10px;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 8px;
    box-shadow: 0 5px hsla(248, 32%, 49%, 0.219);
}
form p{
    font-size: 12px;
}
.inputCon{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.inputCon input{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid hsl(246, 25%, 77%);
    outline-color: hsl(248, 32%, 49%);
    font-family: Poppins;
    font-weight: 500;
    color: hsl(248, 32%, 49%);
}
.inputCon input::placeholder{
    font-family: Poppins;
    font-weight: 500;
}
.inputCon.error input{
    border-color: hsl(0, 100%, 74%);
}
.inputCon img{
    position: absolute;
    top: 15px;
    right: 10px;
    height: 18px;
    visibility: hidden;
}
.inputCon.error img{
    visibility: visible;
}
.inputCon small{
    position: absolute;
    bottom: 0;
    right: 10px;
    visibility: hidden;
    font-style: italic;
    font-size: 12px;
}
.inputCon.error small{
    color: hsl(0, 100%, 74%);
    visibility: visible;
}
.inputCon p{
    position: absolute;
    top: 15px;
    left: 10px;
    visibility: hidden;
    font-style: italic;
    font-size: 12px;
}
.inputCon.error p{
    color: hsl(0, 100%, 74%);
    visibility: visible;
}
button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    box-shadow: 1px 5px hsla(154, 60%, 55%, 0.377);
}
button:hover{
    background-color: hsla(154, 60%, 55%, 0.918);
}
.terms{
    color: hsl(246, 25%, 77%);
    margin: 10px 0;
}
.terms span{
    color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 600px) {
    body{
        background-image: url("bg-intro-mobile.png");
    }
    main{
        padding: 20px 10px;
    }
    .text-con, .form-con{
        width: 100%;
    }
    .text-con h1, p{
        text-align: center;
    }
    .text-con h1{
        font-size: 23px;
    }
    form{
        padding: 20px;
    }
}